version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      arrow:
        patterns:
          - "*arrow*"
          - "*parquet*"
          - "object_store"
      non-arrow:
        exclude-patterns:
          - "*arrow*"
          - "*parquet*"
          - "object_store"
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      pip-dependencies:
        patterns:
          - "*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      github-actions:
        patterns:
          - "*"
