[package]
name = "rustac-py"
version = "0.7.1"
edition = "2024"
publish = false

[lib]
name = "rustac"
crate-type = ["cdylib"]

[features]
duckdb-bundled = ["stac-duckdb/bundled"]

[dependencies]
clap = "4.5.31"
duckdb = { version = "1.2.2", features = ["serde_json"] }
geoarrow-array = { git = "https://github.com/geoarrow/geoarrow-rs/", rev = "17bf33e4cf78b060afa08ca9560dc4efd73c2c76" }
geojson = "0.24.1"
pyo3 = { version = "0.24.1", features = ["extension-module"] }
pyo3-async-runtimes = { version = "0.24.0", features = [
    "tokio",
    "tokio-runtime",
] }
pyo3-arrow = "0.9.0"
pythonize = "0.24.0"
serde = "1.0.217"
serde_json = { version = "1.0.138", features = ["preserve_order"] }
stac = { features = [
    "geoparquet-compression",
    "object-store-all",
], git = "https://github.com/stac-utils/rustac", branch = "main" }
stac-api = { features = [
    "client",
], git = "https://github.com/stac-utils/rustac", branch = "main" }
rustac = { git = "https://github.com/stac-utils/rustac", features = [
    "pgstac",
    "duckdb",
], branch = "main" }
stac-duckdb = { git = "https://github.com/stac-utils/rustac", branch = "main" }
thiserror = "2.0.12"
tokio = { version = "1.44.0", features = ["rt-multi-thread"] }
pyo3-log = "0.12.1"
tracing = "0.1.41"

[build-dependencies]
cargo-lock = "10"

[patch.crates-io]
duckdb = { git = "https://github.com/gadomski/duckdb-rs/", branch = "arrow-v55" }
