[package]
name = "stacrs"
version = "0.5.0"
edition = "2021"
publish = false

[lib]
name = "stacrs"
crate-type = ["cdylib"]

[dependencies]
duckdb = { version = "1.1.1" }
geojson = "0.24.1"
pyo3 = { version = "0.23.4", features = ["extension-module"] }
pyo3-async-runtimes = { version = "0.23.0", features = [
    "tokio",
    "tokio-runtime",
] }
pyo3-log = "0.12.1"
pythonize = "0.23.0"
serde = "1.0.217"
serde_json = "1.0.138"
stac = { version = "0.12.0", features = [
    "geoparquet-compression",
    "object-store-all",
], git = "https://github.com/stac-utils/stac-rs" }
stac-api = { version = "0.7.1", features = [
    "client",
    "python",
], git = "https://github.com/stac-utils/stac-rs" }
stac-duckdb = { version = "0.1.0", git = "https://github.com/stac-utils/stac-rs" }
thiserror = "2.0.11"
