[package]
name = "stacrs"
version = "0.5.5"
edition = "2021"
publish = false

[lib]
name = "stacrs"
crate-type = ["cdylib"]

[dependencies]
clap = "4.5.30"
geojson = "0.24.1"
pyo3 = { version = "0.23.4", features = ["abi3-py310", "extension-module"] }
pyo3-async-runtimes = { version = "0.23.0", features = [
    "tokio",
    "tokio-runtime",
] }
pyo3-arrow = "0.7.2"
pyo3-log = "0.12.1"
pythonize = "0.23.0"
serde = "1.0.217"
serde_json = "1.0.138"
stac = { features = [
    "geoparquet-compression",
    "object-store-all",
], git = "https://github.com/stac-utils/stac-rs" }
stac-api = { features = [
    "client",
    "python",
], git = "https://github.com/stac-utils/stac-rs" }
stac-cli = { git = "https://github.com/stac-utils/stac-rs", default-features = false, features = [
    "pgstac",
] }
stac-duckdb = { git = "https://github.com/stac-utils/stac-rs" }
thiserror = "2.0.11"
tokio = { version = "1.43.0", features = ["rt-multi-thread"] }
