site_name: rustac
site_description: The power of Rust for the Python STAC ecosystem
site_url: https://stac-utils.github.io/rustac-py
repo_url: https://github.com/stac-utils/rustac-py
theme:
  name: material
  logo: img/stac-ferris.png
  icon:
    repo: fontawesome/brands/github
  favicon: img/stac-ferris.png
  features:
    - navigation.indexes
    - navigation.footer
  palette:
    scheme: stac
    primary: custom

nav:
  - Home: index.md
  - Examples: generated/gallery
  - API:
      - api/index.md
      - arrow: api/arrow.md
      - duckdb: api/duckdb.md
      - migrate: api/migrate.md
      - read: api/read.md
      - search: api/search.md
      - stac: api/stac.md
      - version: api/version.md
      - walk: api/walk.md
      - write: api/write.md
  - CONTRIBUTING.md

plugins:
  - gallery:
      examples_dirs: docs/examples
      gallery_dirs: docs/generated/gallery
      filename_pattern: /example_
  - markdown-exec
  - mike
  - mkdocstrings:
      enable_inventory: true
      handlers:
        python:
          load_external_modules: false
          options:
            allow_inspection: false
            docstring_section_style: list
            docstring_style: google
            line_length: 80
            separate_signature: true
            show_root_heading: true
            show_signature_annotations: true
            show_source: false
            show_symbol_type_toc: true
            signature_crossrefs: true
          inventories:
            - https://kylebarron.dev/arro3/latest/objects.inv
            - https://geopandas.org/en/stable/objects.inv
  - search
  - social:
      cards_layout_options:
        color: rgb(26, 78, 99)
        background_color: rgb(228, 246, 251)

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details

extra:
  version:
    provider: mike

extra_css:
  - stylesheets/extra.css
