name: CI

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  duckdb-version: "1.3.0"

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os.runner }}
    env:
      DUCKDB_LIB_DIR: ${{ github.workspace }}/opt/duckdb
      LD_LIBRARY_PATH: ${{ github.workspace }}/opt/duckdb
      DYLD_LIBRARY_PATH: ${{ github.workspace }}/opt/duckdb
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.11"
          - "3.12"
          - "3.13"
        os:
          - runner: ubuntu-latest
            duckdb-slug: linux-amd64
          - runner: macos-latest
            duckdb-slug: osx-universal
          # https://github.com/stac-utils/rustac-py/issues/1
          # - windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: astral-sh/setup-uv@v3
        with:
          python-version: ${{ matrix.python-version }}
      - uses: Swatinem/rust-cache@v2
      - name: Install libduckdb
        run: |
          wget https://github.com/duckdb/duckdb/releases/download/v${{ env.duckdb-version }}/libduckdb-${{ matrix.os.duckdb-slug }}.zip
          mkdir -p ${{ github.workspace }}/opt/duckdb
          unzip libduckdb-${{ matrix.os.duckdb-slug }}.zip -d ${{ github.workspace }}/opt/duckdb
      - name: Install GDAL
        if: runner.os == 'macOS'
        run: brew install gdal
      - name: Sync
        run: uv sync --all-extras
      - name: Lint
        run: scripts/lint
      - name: Test
        run: scripts/test
      - name: Sync w/o extras
        run: uv sync
      - name: Test w/o extras
        run: uv run pytest
      - name: Check docs
        # not worth it to install cairo on macos
        if: runner.os == 'ubuntu-latest'
        run: uv run mkdocs build --strict
  import:
    name: Import
    runs-on: ubuntu-latest
    env:
      DUCKDB_LIB_DIR: ${{ github.workspace }}/opt/duckdb
      LD_LIBRARY_PATH: ${{ github.workspace }}/opt/duckdb
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: astral-sh/setup-uv@v3
      - uses: Swatinem/rust-cache@v2
      - name: Install libduckdb
        run: |
          wget https://github.com/duckdb/duckdb/releases/download/v${{ env.duckdb-version }}/libduckdb-linux-amd64.zip
          mkdir -p ${{ github.workspace }}/opt/duckdb
          unzip libduckdb-linux-amd64.zip -d ${{ github.workspace }}/opt/duckdb
      - name: Import
        run: uv run --no-default-groups python -c "import rustac"
