name: CI

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    env:
      DUCKDB_VERSION: "1.2.0"
      DUCKDB_LIB_DIR: /opt/duckdb
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        os:
          - ubuntu-latest
          # - macos-latest
          # https://github.com/stac-utils/stacrs/issues/1
          # - windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v3
      - uses: Swatinem/rust-cache@v2
      - name: Install Python version
        run: uv python install ${{ matrix.python-version }}
      - name: Get DuckDB
        run: |
          wget https://github.com/duckdb/duckdb/releases/download/v$DUCKDB_VERSION/libduckdb-linux-amd64.zip
          unzip libduckdb-linux-amd64.zip -d /opt/duckdb
      - name: Sync
        run: uv sync --no-install-project
      - name: Build directly with maturin
        run: uv run maturin dev --uv
      - name: Lint
        run: scripts/lint
      - name: Test
        run: scripts/test
