name: Docs

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # to get gh-pages
      - uses: astral-sh/setup-uv@v3
      - name: Sync
        run: uv sync
      - name: Deploy
        run: mike deploy ${{ github.ref_name }} latest
      - name: Checkout gh-pages
        run: git checkout gh-pages
      - uses: actions/upload-pages-artifact@v3
        id: deployment
        with:
          path: .
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
